.header {
    display: flex;
    align-items: center;
    padding: 6px 18px;
    background-image: url('../images/homePage.png');
    justify-content: space-between;
    gap: 20px;
}

.logo {
    width: 130px;
    flex-shrink: 0;
}

.header .navigation {
    list-style: none;
    display: inline-flex;
    justify-content: right;
    gap: 10px;
}

.buttons {
    display: inline-flex;
    margin-left: 1em;
}

.btn {
    display: inline-flex;
    margin: 5px;
    padding: 0.5em;
    justify-content: right;
}