.text {
    /* background-image: url('../images/headerBackground.png'); */
    display: flex;
    flex-direction: column;
    align-items: start;
    color: aliceblue;
    padding: 50px;
}

.home {
    background-image: url('../images/хоме.png');
    background-size: cover;
    min-height: 400px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 2em;
}